*, *>* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 600px;
  margin: 90px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  /* For small screens */
  padding: 0 40px;
}

p {
  text-align: justify;
}

.wrap {
  margin-bottom: 40px;
}

#kairos-logo-wrap {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}

#kairos-logo-wrap > img {
  width: 275px;
  margin-right: auto;
  margin-left: auto;
}

#sponsors-logo-wrap {
  width: 100%;
  margin: 55px 0;
/* Big Screen */
  padding: 0 0;
}

#sponsors-logo-wrap > .img-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#sponsors-logo-wrap > .img-wrap > a {
  display: inline-block;
  width: 100%;
}

/* Big Screen */
#sponsors-logo-wrap > .img-wrap > a > img {
  height: 100px;
}

#sponsors-logo-wrap > .asrt-logo-wrap {
  margin-bottom: 50px;
}







@media screen and (min-width: 370px) {

  #sponsors-logo-wrap {
    padding: 0 0;
  }

  #sponsors-logo-wrap > .img-wrap {
    width: 48%;
  }

  #sponsors-logo-wrap > .img-wrap > a > img {
    height: 80px;
  }

  #sponsors-logo-wrap > .asrt-logo-wrap {
    text-align: left;
    margin-bottom: 0;
  }

  #sponsors-logo-wrap > .ainshams-logo-wrap {
    text-align: right;
  }

}

@media screen and (min-width: 415px) {

  #sponsors-logo-wrap {
    padding: 0 0;
  }

  #sponsors-logo-wrap > .img-wrap {
    width: 49%;
  }

  #sponsors-logo-wrap > .img-wrap > a > img {
    height: 90px;
  }

}

@media screen and (min-width: 525px) {

  #sponsors-logo-wrap {
    padding: 0 40px;
  }

  #sponsors-logo-wrap > .img-wrap > a > img {
    height: 100px;
  }

}

@media screen and (min-width: 800px) {

  #sponsors-logo-wrap {
    padding: 0 45px;
  }

  #sponsors-logo-wrap > .img-wrap > a > img {
    height: 120px;
  }

}